{% include 'shared/base.html' %}

{% block content %}
<body>
    <h1>Products</h1>
    {% if products %}
        <h3>{{ product_title }} hardcoded in Class Based View list products</h3>
        {% for product in products %}
            <li>
                <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
                {{ product.name }}:  {{ product.price }}$
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'update product' product.id %}">Update</a>
                    <a href="{% url 'delete product' product.id %}">Delete</a>
                    <a href="{% url 'product details' product.id%}">Details</a>
                {% else %}
                    <a href="{% url 'product details' product.id%}">Details</a>
            {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
{#</html>#}